<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <div>
        <h1>Kurt Vonnegut API</h1>
        <h2>An API serving metadata for the Kurt Vonnegut's bibliography. So it goes.</h2>
    </div>
    <div>
        <h3>What routes are available?</h3>
        <table>
            <thead>
                <tr>
                    <th>Endpoint</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/api</td>
                    <td>Kurt Vonnegut's entire bibliography for novels, collected works, plays, and short stories.
                        Filter results using any combination of title, year, genre, form.</td>
                </tr>
                <tr>
                    <td>Example</td>
                </tr>
                <tr>
                    <td>/api/novels</td>
                    <td>List of Vonnegut's novels</td>
                </tr>
                <tr>
                    <td>/api/collections</td>
                    <td>List of Vonnegut's collected works</td>
                </tr>
                <tr>
                    <td>/api/plays</td>
                    <td>List of Vonnegut's plays</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>