<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Kurt Vonnegut API</title>

    <!-- FONT -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <!-- CSS -->
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/style.css">
    <!-- FAVICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    <a class="repo" href="https://github.com/PoorBillyPilgrim/kurt-vonnegut-api" target="_blank" rel="noopener"><i
            class="fab fa-github"></i></a>
    <div class="container header">
        <h1>Kurt Vonnegut API</h1>
        <p class="quote"><em>"If this isn't nice, what is?"</em></p>
        <h2>An API serving metadata for Kurt Vonnegut's bibliography. <br>So it goes.</h2>
    </div>
    <div class="container">
        <h3>Routes</h3>
        <table>
            <thead>
                <tr>
                    <th>Endpoint</th>
                    <th>Response</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>/api</td>
                    <td>Kurt Vonnegut's entire bibliography for novels, collected works, plays, and short
                        stories.
                    </td>
                </tr>
                <tr>
                    <td>/api/novels</td>
                    <td>List of Vonnegut's novels</td>
                </tr>
                <tr>
                    <td>/api/collections</td>
                    <td>List of Vonnegut's collected works</td>
                </tr>
                <tr>
                    <td>/api/plays</td>
                    <td>List of Vonnegut's plays</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container">
        <h3>Metadata</h3>
        <div class="row">
            <table class="four columns">
                <thead>
                    <tr>
                        <th>Form</th>
                        <th>Metadata</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Novel</td>
                        <td>
                            title<br>
                            subtitle<br>
                            form<br>
                            genre<br>
                            publisher<br>
                            year<br>
                            pages<br>
                            chapters<br>
                            setting<br>
                            characters<br>
                            wiki<br>
                        </td>
                    </tr>
            </table>
            <table class="four columns">
                <thead>
                    <tr>
                        <th>Form</th>
                        <th>Metadata</th>
                    </tr>
                </thead>
                <tr>
                    <td>Collected Work</td>
                    <td>
                        title<br>
                        form<br>
                        genre<br>
                        publisher<br>
                        year<br>
                        pages<br>
                        contents<br>
                        wiki<br>
                    </td>
                </tr>
            </table>
            <table class="four columns">
                <thead>
                    <tr>
                        <th>Form</th>
                        <th>Metadata</th>
                    </tr>
                </thead>
                <tr>
                    <td>Play</td>
                    <td>
                        title<br>
                        form<br>
                        genre<br>
                        publisher<br>
                        year<br>
                        setting<br>
                        characters<br>
                        wiki<br>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container">
        <h3>Filters</h3>
        <p>on the /api route, you can filter using any combination of form, title, and year
            <br>
            you can also search multiples of each filter, separated by commas
            <br>
            however, the API does not support searching multiple filters that have been stacked
            <br>
            (sorry!)</p>
        <div class="row">
            <p>✅ <span class="dark-url">https://kurtvonnegutapi.com/api?year=1952,1969</span></p>
            <p>❌ <span class="dark-url">https://kurtvonnegutapi.com/api?year1952,1969&title=Breakfast of
                    Champions</span></p>
        </div>
        <h3>Examples</h3>
        <div class="row">
            <p class="six columns dark-url">https://kurtvonnegutapi.com/api?title=Slaughterhouse-Five</p>
            <p class="six columns dark-url">https://kurtvonnegutapi.com/api?year=1952&title=Cat's Cradle</p>
        </div>
        <div class="row">
            <a class="button button-primary six columns" href="http://localhost:3000/api?title=Slaughterhouse-Five"
                target="_blank">GET</a>
            <a class="button button-primary six columns"
                href="https://kurtvonnegutapi.com/api?year=1952&title=Cat's Cradle" target="_blank">GET</a>
        </div>
        <div class="row">
            <pre class="six columns"><code>[
        {
            _id": "5f07523011807ba43fb805b0",
            "title": "Slaughterhouse-Five",
            "subtitle": "The Children's Crusade: A Duty-Dance with Death",
            "form": "novel",
            "genre": [
                "dark comedy",
                "satire",
                "science fiction",
                "war novel",
                "metafiction",
                "postmodernism"
            ],
            "publisher": "Delacorte",
            "year": 1969,
            "pages": 215,
            "chapters": 10,
            "setting": [
                {
                    "city": "Dresden",
                    "country": "Germany",
                    "fictional": false
                },
                {
                    "planet": "Tralfamadore",
                    "fictional": true
                },
                {
                    "city": "Ilium",
                    "state": "New York",
                    "country": "United States of America",
                    "fictional": false
                },
                {
                    "city": "Ardennes",
                    "country": "Belgium",
                    "fictional": false
                }
            ],
            "characters": [
                {
                    "firstName": "Billy",
                    "lastName": "Pilgrim"
                },
                {
                    "firstName": "Kilgore",
                    "lastName": "Trout"
                },
                {
                    "firstName": "Eliot",
                    "lastName": "Rosewater"
                },
                {
                    "firstName": "Roland",
                    "lastName": "Weary"
                },
                {
                    "firstName": "Paul",
                    "lastName": "Lazzaro"
                },
                {
                    "firstName": "Edgar",
                    "lastName": "Derby"
                },
                {
                    "firstName": "Robert",
                    "lastName": "Pilgrim"
                },
                {
                    "firstName": "Valencia",
                    "lastName": "Merble"
                },
                {
                    "firstName": "Barbara",
                    "lastName": "Pilgrim"
                },
                {
                    "firstName": "Howard",
                    "middleName": "W",
                    "lastName": "Campbell",
                    "suffix": "Jr"
                },
                {
                    "firstName": "Montana",
                    "lastName": "Wildhack"
                },
                {
                    "firstName": "Bertam",
                    "middleName": "Copeland",
                    "lastName": "Rumfoord"
                },
                {
                    "firstName": "Wild Bob"
                }
            ],
            "wiki": "https://en.wikipedia.org/wiki/Slaughterhouse-Five"
        }
    ]</code></pre>
            <pre class="six columns"><code>[
                {
                  "_id": "5f07523011807ba43fb805a8",
                  "title": "Player Piano",
                  "subtitle": "",
                  "form": "novel",
                  "genre": "science fiction",
                  "publisher": "Charles Scribner's Sons",
                  "year": 1952,
                  "pages": 296,
                  "chapters": 35,
                  "setting": [
                    {
                      "city": "Ilium",
                      "state": "New York",
                      "country": "United States of America",
                      "fictional": false
                    }
                  ],
                  "characters": [
                    {
                      "firstName": "Paul",
                      "lastName": "Proteus"
                    },
                    {
                      "firstName": "Shah of Bratpuhr"
                    },
                    {
                      "firstName": "Ed",
                      "lastName": "Finnerty"
                    },
                    {
                      "firstName": "Lasher"
                    },
                    {
                      "firstName": "Anita",
                      "lastName": "Proteus"
                    }
                  ],
                  "wiki": "https://en.wikipedia.org/wiki/Player_Piano_(novel)"
                },
                {
                  "_id": "5f07523011807ba43fb805aa",
                  "title": "Cat's Cradle",
                  "subtitle": "",
                  "form": "novel",
                  "genre": [
                    "satire",
                    "science fiction"
                  ],
                  "publisher": "Holt, Rinehart and Winston",
                  "year": 1963,
                  "pages": 192,
                  "chapters": 127,
                  "setting": [
                    {
                      "country": "San Lorenzo",
                      "fictional": true
                    },
                    {
                      "city": "Ilium",
                      "state": "New York",
                      "country": "United States of America",
                      "fictional": false
                    }
                  ],
                  "characters": [
                    {
                      "firstName": "John"
                    },
                    {
                      "firstName": "Bokonon"
                    },
                    {
                      "firstName": "Angela",
                      "lastName": "Hoenikker"
                    },
                    {
                      "firstName": "Emily",
                      "lastName": "Hoenikker"
                    },
                    {
                      "firstName": "Frank",
                      "lastName": "Hoenikker"
                    },
                    {
                      "firstName": "Newt",
                      "lastName": "Hoenikker"
                    },
                    {
                      "firstName": "Papa",
                      "lastName": "Monzano"
                    },
                    {
                      "firstName": "Mona",
                      "middleName": "Aamons",
                      "lastName": "Monzano"
                    },
                    {
                      "firstName": "Francine",
                      "lastName": "Pefko"
                    }
                  ],
                  "wiki": "https://en.wikipedia.org/wiki/Cat%27s_Cradle"
                }
              ]</code></pre>
        </div>
    </div>
</body>

</html>