body {
    background-color: #fdfffc;
}

code {
    overflow-x: auto;
}

button {
    padding: 0 !important;
}

.header {
    text-align: center;
}

.repo{
    position: absolute;
    right: 10px;
    font-size: 22px;
    color: #282828;
  }

.dark-url {
    padding: 7.5px;
    background: black;
    color: white;
    border-radius: 4px;
}
